<div class="address_listing listing">
  <div class="label">Billing <div class='address billing_<%= address.billing %>'></div></div>
  <div class="label">Shipping <div class='address shipping_<%= address.shipping %>'></div></div>
  <div class='address address_line'><%= address.address1 %></div>
  <div class='address address_line'><%= address.address2 %></div>
  <div class='address city'><%= address.city %></div>
  <div class='address state'><%= address.state %></div>
  <div class='address postal_code'><%= address.postal_code %></div>
</div>