<div class="page" model_root="true" model="page" model_id="<%= page.id %>">
  <div class="title attribute" attribute_type="text" model="page" model_id="<%= page.id %>" attribute_name="title"><%= page.title %></div>

  <div class="description attribute" attribute_type="html" model="page" model_id="<%= page.id %>" attribute_name="description">
    <% unless page.description.blank? %>
      <%= page.description.html_safe %>
    <% end %>
  </div>

  <ul class="page_content_area">

  </ul>

  <div class="page_relation_area">
    <ul class="page_pages_wrapper">

      <li class="page_relation">
        <div class="drag_handle">DRAG</div>
        <div class="title">Page 1</div>
        <div class="description">Description for this thing</div>
      </li>

      <li class="page_relation">
        <div class="drag_handle">DRAG</div>
        <div class="title">Page 2</div>
        <div class="description">Description for this thing</div>
      </li>

      <li class="page_relation">
        <div class="drag_handle">DRAG</div>
        <div class="title">Page 3</div>
        <div class="description">Description for this thing</div>
      </li>

      <li class="page_relation">
        <div class="drag_handle">DRAG</div>
        <div class="title">Page 4</div>
        <div class="description">Description for this thing</div>
      </li>

      <li class="page_relation">
        <div class="drag_handle">DRAG</div>
        <div class="title">Page 5</div>
        <div class="description">Description for this thing</div>
      </li>

    </ul>
    <ul class="page_products_wrapper"></ul>
    <ul class="page_categories_wrapper"></ul>
  </div>

</div>


<script type="text/javascript">
  //$("#Page<%= page.id %>").addClass('selected');

  function reset_sortables(){
    $('.page_pages_wrapper').sortable({
      placeholder: 'page_relation_placeholder',
      stop: function(event, ui){
        //build_perception($(ui.item),$(this));
        //set_perception_order($(this))
      },
      cancel: '.heading,.attribute,.media_items_listing_wrapper,.media_items_listing,.media_item,.next_media_item,.prev_media_item,.next_icon,.prev_icon,.media_upload_wrapper',
      handle: '.drag_handle',
      helper: function(event, ui){
        devent = event;
        dui = ui;
        var draggable = ui.clone().addClass('nano');
        draggable.offset(ui.offset());
        console.log(draggable.offset());
        return $(draggable);
      }
    });

  }


  $('.add_page_widget').draggable({
    revert: true,
    revertDuration: 100,
    helper: 'clone',
    scope: 'page_management',
    appendTo: 'body',
    zIndex: 199
  });



  <% if @editable %>
    $(".page .attribute").attr('contenteditable', 'true');
    $("#PageControl").removeClass('hidden');
    reset_sortables();
  <% end %>


</script>