<%
   if defined? editable
     content_editable = ""
     drag_class = "drag_handle aeon_drag"
     deletable = "deletable_category"
     editable = true
   else
     content_editable = ""
     drag_class = "drag_handle aeon_drag"
     deletable = ""
     editable = false
   end
%>
<li class='category_listing <%= deletable %>' model='category' model_id='<%= category_listing.id %>' model_root='true'>
  <div class='<%= drag_class %>'></div>
  <div class='attribute title' model='category' model_id='<%= category_listing.id %>' attribute_name='title' attribute_type='text' <%= content_editable %>><%= category_listing.title.html_safe %></div>
    <% if category_listing.categories.blank? %>
    <ul class='sub_categories_list hidden'></ul>
    <% else %>
      <ul class='sub_categories_list'>
        <%= render :partial => 'categories/category_listing', :collection => category_listing.categories, :locals => { :editable => editable } %>
      </ul>
    <% end %>
</li>