<%
   if defined? editable
     content_editable = ""
     drag_class = "drag_handle aeon_drag"
     deletable = "deletable_product"
     editable = true
   else
     content_editable = ""
     drag_class = "drag_handle aeon_drag"
     deletable = ""
     editable = false
   end
%>
<li class='product_listing <%= deletable %>' model='product' model_id='<%= product_listing.id %>' model_root='true'>
  <div class='<%= drag_class %>'></div>
  <div class='attribute title' model='product' model_id='<%= product_listing.id %>' attribute_name='title' attribute_type='text' <%= content_editable %>><%= product_listing.title.html_safe %></div>
  <%= render :partial => 'media_items/media_items_preview', :locals => { :media_items => product_listing.media_items } %>
</li>