<%
   selected = {
     :accessory_true => "",
     :accessory_false => "",
     :product_discontinued_true => "",
     :product_discontinued_false => "",
     :free_shipping_true => "",
     :free_shipping_false => "",
     :ship_flatrate_true => "",
     :ship_flatrate_false => ""
   }

   if @product.accessory
     selected["accessory_true"] = "selected"
   else
     selected["accessory_false"] = "selected"
   end

   if @product.product_discontinued
     selected["product_discontinued_true"] = "selected"
   else
     selected["product_discontinued_false"] = "selected"
   end

   if @product.free_shipping
     selected["free_shipping_true"] = "selected"
     selected["ship_flatrate_visibility"] = "hidden"
   else
     selected["free_shipping_false"] = "selected"
     selected["ship_flatrate_visibility"] = ""
   end

   if @product.ship_flatrate
     selected["ship_flatrate_true"] = "selected"
     selected["free_shipping_visibility"] = "hidden"
     selected["ship_flatrate_price_visibility"] = ""
   else
     selected["ship_flatrate_false"] = "selected"
     selected["free_shipping_visibility"] = ""
     selected["ship_flatrate_price_visibility"] = "hidden"
   end
%>

<div id="ProductDetailControl">
  <div class="draggable_widget add_media_widget">Add Media</div>
  <div class="draggable_widget set_cover_media_widget">Set Cover Image</div>
  <div class="draggable_widget delete_media_widget">Delete Media</div>
  <div class="draggable_widget link_addon_widget">Link Addons</div>
  <div class="draggable_widget unlink_addon_widget">Unlink Addon</div>
  <div class="draggable_widget inquire_widget">?</div>
</div>

<%=  render :partial => 'categories/index', :locals => { :categories => @categories, :editable => @editable } %>

<div id="ProductDetailWrapper">
  <div id="ProductAddonsDrawerWrapper" class="hidden">
    <div id="ProductAddonsDrawerCloseButton">X</div>
    <div id="ProductAddonsDrawer">

    </div>
  </div>
  <div id="ProductDetail" model="product" model_id="<%= @product.id %>" model_root="true">

    <div id="AccessoryWrapper">
      <div id="Accessory" class="aeon_lozenge_menu">
        <div class="accessory_selector aeon_lozenge aeon_lozenge_left <%= selected["accessory_false"] %>" accessory="false">Product</div>
        <div class="accessory_selector aeon_lozenge aeon_lozenge_right <%= selected["accessory_true"] %>" accessory="true">Accessory</div>
      </div>
    </div>

    <div class="attribute title" model="product" model_id="<%= @product.id %>" attribute_name="title" attribute_type="text"><%= @product.title %></div>

    <div id="ProductDiscontinuedWrapper">
      <div id="ProductDiscontinued" class="aeon_lozenge_menu">
        <div class="aeon_lozenge_menu_label">Product Discontinued</div>
        <div class="product_discontinued_selector aeon_lozenge aeon_lozenge_left <%= selected["product_discontinued_true"] %>" product_discontinued="true">On</div>
        <div class="product_discontinued_selector aeon_lozenge aeon_lozenge_right <%= selected["product_discontinued_false"] %>" product_discontinued="false">Off</div>
      </div>
    </div>

    <div id="ShippingOptionsFreeShippingWrapper" class="<%= selected["free_shipping_visibility"] %>">
      <div id="ShippingOptionsFreeShipping" class="aeon_lozenge_menu">
        <div class="aeon_lozenge_menu_label">Free Shipping</div>
        <div class="free_shipping_selector aeon_lozenge aeon_lozenge_left <%= selected["free_shipping_true"] %>" free_shipping="true">On</div>
        <div class="free_shipping_selector aeon_lozenge aeon_lozenge_right <%= selected["free_shipping_false"] %>" free_shipping="false">Off</div>
      </div>
     </div>

    <div id="ShippingOptionsShipFlatrateWrapper" class="<%= selected["ship_flatrate_visibility"] %>">
      <div id="ShippingOptionsShipFlatrate" class="aeon_lozenge_menu">
        <div class="aeon_lozenge_menu_label">Flatrate Shipping</div>
        <div class="ship_flatrate_selector aeon_lozenge aeon_lozenge_left <%= selected["ship_flatrate_true"] %>" ship_flatrate="true">On</div>
        <div class="ship_flatrate_selector aeon_lozenge aeon_lozenge_right <%= selected["ship_flatrate_false"] %>" ship_flatrate="false">Off</div>
      </div>
      <div id="ShipFlatratePrice" class="<%= selected["ship_flatrate_price_visibility"] %>">
        <% if @product.ship_flatrate_price.blank? || @product.ship_flatrate == 0 %>
          0
        <% else %>
          <%= @product.ship_flatrate_price %>
        <% end %>
      </div>
    </div>

    <div class="attribute weight" model="product" model_id="<%= @product.id %>" attribute_name="weight" attribute_type="text">
      <% if @product.weight.blank? %>
        0
      <% else %>
        <%= @product.weight %>
      <% end %>
    </div>


    <% if @product.price.blank? %>
      <div class='price_missing'>Price: N/A</div>
      <div class='currency_marker hidden'>$</div>
      <div class='attribute price hidden' model='product' model_id='<%= @product.id %>' attribute_name='price' attribute_type='text'></div>
    <% else %>
      <div class='currency_marker'>$</div>
      <div class='attribute price' model='product' model_id='<%= @product.id %>' attribute_name='price' attribute_type='text'><%= number_with_precision(@product.price, :precision => 2) %></div>
    <% end %>
    <div class='add_to_cart_button'>Add to Cart</div>

    <div class="attribute description" model="product" model_id="<%= @product.id %>" attribute_name="description" attribute_type="text">
      <% unless @product.description.blank? %>
        <%= @product.description.html_safe %>
      <% end %>
    </div>
    <%= render :partial => 'media_items/media_items_preview', :locals => { :media_items => @product.media_items } %>

    <div class="attribute content" model="product" model_id="<%= @product.id %>" attribute_name="content" attribute_type="html">
      <% unless @product.content.blank? %>
        <%= @product.content.html_safe %>
      <% end %>
    </div>

    <div id="ProductDetailAddons">
      <%= render :partial => 'products/product_addons', :locals => { :addons => @product.addons } %>
    </div>

  </div>
</div>

<script type="text/javascript">
  $("[model_root='true'][model='category'][model_id='<%= @product.category.id %>']").addClass('selected');
  $("#EditProductsButton").addClass('hidden');

  function start_product_edit(){
    $("#ProductDetail").addClass('edit_mode');
    $("#ProductDetail .attribute").attr('contenteditable', 'true');
    $("#ShipFlatratePrice").attr('contenteditable', 'true');
    $("#ProductDetail .price_missing").addClass('hidden');
    $("#ProductDetail .currency_marker").removeClass('hidden');
    $("#ProductDetail .price").removeClass('hidden');

    //resetProductDetailInteractions();
    // Change Edit Button Status
  }

  function end_product_edit(){
    $("#ProductDetail").removeClass('edit_mode');
    $("#ProductDetail .attribute").removeAttr('contenteditable');
    $("#ShipFlatratePrice").removeAttr('contenteditable');
    var price = $("#ProductDetail").find('.price').text();
    if(price.length == 0){
      $("#ProductDetail").find('.price').addClass('hidden');
      $("#ProductDetail").find('.currency_marker').addClass('hidden');
      $("#ProductDetail").find('.price_missing').removeClass('hidden');
    }

    // Change Edit Button Status
  }
  <% if @editable %>
  $(document).off('click', ".inquire_widget");
  $(document).on('click', ".inquire_widget", function(){
    var self = $(this);
    var product_id = $("#ProductDetail").attr('model_id');
    var title = $("[model='product'][model_id='" + product_id + "'][attribute_name='title']").text();
    //alert(title);
    var url = 'https://www.google.com/search?q="' + title + '"';
    var url2 = 'https://www.google.com/search?q=' + title;
    window.open(url2, "_blank");
  });


  $(document).off('click', ".accessory_selector");
  $(document).on('click', ".accessory_selector", function(){
    var self = $(this);
    $(".accessory_selector").removeClass('selected');
    self.addClass('selected');
    var product_id = $("#ProductDetail").attr('model_id');
    var accessory = self.attr('accessory');
    var params = {
      product: {
        accessory: accessory
      }
    }
    $.ajax({
      url: "/products/" + product_id + ".json",
      dataType: "json",
      type: "PUT",
      data: params,
      success: function(data){
        console.log(data);
      }
    });
  });

  $(document).off('click', ".product_discontinued_selector");
  $(document).on('click', ".product_discontinued_selector", function(){
    var self = $(this);
    $(".product_discontinued_selector").removeClass('selected');
    self.addClass('selected');
    var product_id = $("#ProductDetail").attr('model_id');
    var product_discontinued = self.attr('product_discontinued');
    var params = {
      product: {
        product_discontinued: product_discontinued
      }
    }
    $.ajax({
      url: "/products/" + product_id + ".json",
      dataType: "json",
      type: "PUT",
      data: params,
      success: function(data){
        console.log(data);
      }
    });
  });

  $(document).off('click', ".free_shipping_selector");
  $(document).on('click', ".free_shipping_selector", function(){
    var self = $(this);
    $(".free_shipping_selector").removeClass('selected');
    self.addClass('selected');
    var product_id = $("#ProductDetail").attr('model_id');
    var free_shipping = self.attr('free_shipping');
    if(free_shipping == "true"){
      $("#ShippingOptionsShipFlatrateWrapper").addClass('hidden');
    } else {
      $("#ShippingOptionsShipFlatrateWrapper").removeClass('hidden');
    }
    var params = {
      product: {
        free_shipping: free_shipping
      }
    }
    $.ajax({
      url: "/products/" + product_id + ".json",
      dataType: "json",
      type: "PUT",
      data: params,
      success: function(data){
        console.log(data);
      }
    });
  });

  $(document).off('click', ".ship_flatrate_selector");
  $(document).on('click', ".ship_flatrate_selector", function(){
    var self = $(this);
    $(".ship_flatrate_selector").removeClass('selected');
    self.addClass('selected');
    var product_id = $("#ProductDetail").attr('model_id');
    var ship_flatrate = self.attr('ship_flatrate');
    if(ship_flatrate == "true"){
      $("#ShippingOptionsFreeShippingWrapper").addClass('hidden');
      $("#ShipFlatratePrice").removeClass('hidden');
    } else {
      $("#ShippingOptionsFreeShippingWrapper").removeClass('hidden');
      $("#ShipFlatratePrice").html('');
      $("#ShipFlatratePrice").addClass('hidden');
      var params = {
        product: {
          ship_flatrate_price: "0.0"
        }
      }
      $.ajax({
        url: "/products/" + product_id + ".json",
        dataType: "json",
        type: "PUT",
        data: params,
        success: function(data){
          console.log(data);
        }
      });
    }
    var params = {
      product: {
        ship_flatrate: ship_flatrate
      }
    }
    $.ajax({
      url: "/products/" + product_id + ".json",
      dataType: "json",
      type: "PUT",
      data: params,
      success: function(data){
        console.log(data);
      }
    });
  });

  $(document).off('keyup', "#ShipFlatratePrice")
  $(document).on('keyup', "#ShipFlatratePrice", function(){
    var self = $(this);
    var ship_flatrate_price = self.text();
    console.log(ship_flatrate_price);
    var product_id = $("#ProductDetail").attr('model_id');
    var params = {
      product: {
        ship_flatrate_price: ship_flatrate_price
      }
    }
    $.ajax({
      url: "/products/" + product_id + ".json",
      dataType: "json",
      type: "PUT",
      data: params,
      success: function(data){
        console.log(data);
      }
    });
  });


  $('.add_media_widget').draggable({
    revert: true,
    revertDuration: 100,
    helper: 'clone',
    scope: 'product_management',
    appendTo: 'body',
    zIndex: 199
  });

  $('.set_cover_media_widget').draggable({
    revert: true,
    revertDuration: 100,
    helper: 'clone',
    scope: 'media_management',
    appendTo: 'body',
    zIndex: 199
  });

  $('.delete_media_widget').draggable({
    revert: true,
    revertDuration: 100,
    helper: 'clone',
    scope: 'media_management',
    appendTo: 'body',
    zIndex: 199
  });

  $('.link_addon_widget').draggable({
    revert: true,
    revertDuration: 100,
    helper: 'clone',
    scope: 'product_management',
    appendTo: 'body',
    zIndex: 199
  });

  $('.unlink_addon_widget').draggable({
    revert: true,
    revertDuration: 100,
    helper: 'clone',
    scope: 'product_addon_management',
    appendTo: 'body',
    zIndex: 199
  });

  function resetProductAddonsInteractivity(){
    $('.product_addons_drawer_list .product_addon_listing').draggable({
      revert: true,
      revertDuration: 100,
      helper: 'clone',
      scope: 'product_management',
      appendTo: 'body',
      zIndex: 199
    });
    $('#ProductDetailAddons .product_addon_listing').droppable({
      scope: 'product_addon_management',
      tolerance: 'intersect',
      greedy: true,
      drop: function(event, ui){
        if(ui.draggable.hasClass('unlink_addon_widget')){
          var addon_id = $(event.target).attr('model_id');
          var product_id = $("#ProductDetail").attr('model_id');
          var params = {
            addon_id: addon_id,
            product_id: product_id
          }
          $.ajax({
            url: "/unlink_product_addon",
            dataType: 'json',
            data: params,
            success: function(data){
              var addon_id = data.id;
              var addon_ui = $("#ProductDetailAddons").find("[model_root='true'][model='product_addon'][model_id='" + addon_id + "']");
              addon_ui.remove();
            }
          });
        }
      }
    });
  }


  $('#ProductDetail').droppable({
    scope: 'product_management',
    tolerance: 'intersect',
    greedy: true,
    drop: function(event, ui){
      var target = $(event.target);
      if(ui.draggable.hasClass('add_media_widget')){
        var media_item_id = target.attr('media_item_id');
        var media_items_wrapper = target.closest('.media_items_wrapper');
        var media_items_preview = target.closest('.media_items_preview');
        if($(ui.draggable).hasClass('add_media_widget')){
          fileOpenDialog(target);
        }
      } else if(ui.draggable.hasClass('link_addon_widget')){
        var url = "/product_addons_index";
        $.ajax({
          url: url,
          dataType: 'html',
          success: function(data){
            $("#ProductAddonsDrawer").html(data);
            $("#ProductAddonsDrawerWrapper").hide().removeClass('hidden');
            $("#ProductAddonsDrawerWrapper").slideDown();
            resetProductAddonsInteractivity();
          }
        });
      } else if(ui.draggable.hasClass('product_addon_listing')){
        var addon_id = ui.draggable.attr('model_id');
        var product_id = $("#ProductDetail").attr('model_id');
        console.log("We will link Product: " + product_id + " with Addon: " + addon_id);
        var params = {
          addon_id: addon_id,
          product_id: product_id
        }
        $.ajax({
          url: "/link_product_addon",
          dataType: 'json',
          data: params,
          success: function(data){
            console.log("We linked it!");
            var clone = ui.draggable.clone();
            var product_addons_wrapper = $("#ProductDetailAddons").find('.product_addons_wrapper');
            product_addons_wrapper.removeClass('hidden');
            product_addons_wrapper.find('.product_addons_list').append(clone);
            resetProductAddonsInteractivity();
          }
        });
      }
    }
  });

  $(document).off('click', '#ProductAddonsDrawerCloseButton');
  $(document).on('click', '#ProductAddonsDrawerCloseButton', function(){
    $("#ProductAddonsDrawerWrapper").slideUp();
  });

  $(document).off('click', '.add_to_cart_button');
  $(document).on('click', '.add_to_cart_button', function(){
    var product_id = $("#ProductDetail").attr('model_id');
    var params = {
      product_id: product_id
    }
    $.ajax({
      url: "/add_to_cart",
      dataType: 'html',
      type: 'POST',
      data: params,
      success: function(data){
        $("#CurrentCartWrapper").html(data);
        updateCartCount();
      }
    })
  });

  function fileOpenDialog(target){
    var parent_model = target.closest("[model_root='true']");
    var parent_model_name = parent_model.attr('model');
    var parent_model_id = parent_model.attr('model_id');
    var parent_model_string = "media_" + parent_model_name + "_id";
    closeFileOpenDialog();

    var file_upload_modal_blocker = $("<div></div>").attr('id', 'FileUploadModalBlocker');
    var file_upload_modal = $("<div></div>").attr('id', 'FileUploadModal');
    var temp_file_input = $("<input type='file' name='temp_file_input'/>").attr('id', 'TempFileInput').attr(parent_model_string, parent_model_id);
    var from_your_device_button = $("<div></div>").attr('id', 'FromYourDeviceButton').text('From your device');

    file_upload_modal.append(temp_file_input);
    file_upload_modal.append(from_your_device_button);
    $('body').append(file_upload_modal_blocker);
    $('body').append(file_upload_modal);
    $("#FileUploadModal").center();
    $("#FromYourDeviceButton").center();
    $("#TempFileInput").center();

    temp_file_input.off('change');
    temp_file_input.on('change', mediaUpload);
  }

  $(document).off('click', '#FileUploadModalBlocker');
  $(document).on('click', '#FileUploadModalBlocker', function(){
    closeFileOpenDialog();
  });

  function closeFileOpenDialog(){
    $('#FileUploadModal').remove();
    $('#FileUploadModalBlocker').remove();
  }

  function mediaUpload(e){
    closeFileOpenDialog();
    var input_field = $(e.target);
    var product_id;
    var category_id;
    var model_listing;
    var submission = new FormData();

    if( input_field.attr('media_product_id') !== undefined ){
      product_id = input_field.attr('media_product_id');
      submission.append('[media_item][product_id]', product_id);
      model_listing = $("[model_root='true'][model='product'][model_id='" + product_id + "']");
    } else if( input_field.attr('media_category_id') !== undefined ){
      category_id = input_field.attr('media_category_id');
      submission.append('[media_item][category_id]', category_id);
      model_listing = $("[model_root='true'][model='category'][model_id='" + category_id + "']");
    } else {
      console.log("You can't upload media_items to nothing!");
    }

    var target_container = model_listing.find('.media_items_listing').first();

    var original_file_name = input_field[0].files[0].name;
    var mime_type = input_field[0].files[0].type;
    var file_size = input_field[0].files[0].size;
    var uuid = createUUID();
    var file_name_array = original_file_name.split('.');
    var extension = file_name_array[(file_name_array.length - 1)];
    extension = extension.toLowerCase();
    var file_name = uuid + "." + extension;

    var allowed_extensions = [
      'mp4','mov','jpg','jpeg','png','gif','svg','m4v'
    ];

    if(!_.contains(allowed_extensions, extension)) {
      alert('Invalid file type [ ' + extension + ' ] for a media resource.  Please use one of: ' + allowed_extensions.join(',') + '.');
      return;
    }

    submission.append('[media_item][uuid]', uuid);
    submission.append('[media_item][media_data]', input_field[0].files[0]);
    submission.append('[media_item][mime_type]', mime_type);
    submission.append('[media_item][file_name]', file_name);

    current_upload_file_name = original_file_name;

    var ajax_submit = $.ajax({
      url: '/media_item/',
      type: 'POST',
      xhr: function(){
        var myXhr = $.ajaxSettings.xhr();
        myXhr.upload.addEventListener('progress', uploadProgressor, false);
        return myXhr;
      },
      data: submission,
      processData: false,
      contentType: false,
      success: function(media_item){
        $("#ProgressModalBlocker").remove();
        $("#ProgressModal").remove();
        model_listing.find('.media_items_wrapper').first().removeClass('hidden');
        var jhtml = $(media_item);
        target_container.append(jhtml);
        setMediaItemsWidth(model_listing);
        jhtml.click();
      }
    });
  }





  $('.media_items_listing').on('DOMNodeInserted ', function(){
    setMediaItemsWidth($(this));
  });


  <% end %>


  $(document).ready(function(event){
    setMediaItemsWidth($("#ProductDetail"));
    $(".media_item_thumb").first().addClass("selected");

    <% if @editable %>
    start_product_edit();
    reset_media_item_droppable();
    resetProductAddonsInteractivity();
    <% end %>

  });
</script>