<!DOCTYPE html>
<html>
<head>
  <title>PrecisionRails</title>
  <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui-1.9.2.custom.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.dependClass.js"></script>
  <script type="text/javascript" src="/javascripts/rails.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.ui.touch-punch.js"></script>
  <script type="text/javascript" src="/javascripts/underscore-min.js"></script>
  <script type="text/javascript" src="/javascripts/backbone-min.js"></script>
  <script type="text/javascript" src="/javascripts/moment.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.total-storage.min.js"></script>
  <script type="text/javascript" src="/javascripts/json2.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.tinysort.min.js"></script>
  <!--<script type="text/javascript" src="/javascripts/jquery.nestable.js"></script>-->
  <script type="text/javascript" src="/javascripts/jquery.scrollTo.min.js"></script>
  <script type="text/javascript" src="/javascripts/precision.js?<%= rand(99999) %>"></script>

  <%= csrf_meta_tags %>

  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Expires" CONTENT="-1">

  <link href="/stylesheets/jquery-ui-1.9.2.custom.min.css" media="screen" rel="stylesheet" type="text/css" />

  <link href="/stylesheets/precision.less?<%= rand(99999) %>" media="screen" rel="stylesheet/less" type="text/css" />
  <link href="/stylesheets/print.less?<%= rand(99999) %>" media="print" rel="stylesheet/less" type="text/css" />
  <script type="text/javascript" src="/javascripts/less-1.3.0.min.js"></script>
  <script>

    <% if Rails.env == 'development' %>
      var rails_environment = "development";
    <% else %>
      var rails_environment = "production";
    <% end %>

    var CurrentUser = <%= current_user.to_json.html_safe %>;
    var ItemsInCart = <%= @cart.item_count %>;
    var CartSubtotal = "<%= number_to_currency(@cart.subtotal) %>";
    var CartWeight = <%= @cart.weight %>;

    $(document).off('click', '#CurrentCart');
    $(document).on('click', '#CurrentCart', function(){
      var current_cart_wrapper = $("#CurrentCartWrapper");
      if(current_cart_wrapper.hasClass('hidden')){
        current_cart_wrapper.removeClass('hidden');
      } else {
        current_cart_wrapper.addClass('hidden');
      }
    });

    $(document).off('click', '#MyAccount');
    $(document).on('click', '#MyAccount', function(){
      var my_account_modal = $("#MyAccountModal");
      if(my_account_modal.hasClass('hidden')){
        my_account_modal.removeClass('hidden');
        $("#AeonModalBlocker").removeClass('hidden');
      }
    });

    $(document).off('click', '#AeonModalBlocker');
    $(document).on('click', '#AeonModalBlocker', function(){
      $("#AeonModalBlocker").addClass('hidden');
      $('.aeon_modal').addClass('hidden');
    });

    function updateItemCountAndSubtotal(){
      $("#CartItemsCount").html(ItemsInCart);
      $("#CartItemSubTotal").html(CartSubtotal);
      if(ItemsInCart > 0){
        $("#CheckoutButton").removeClass('hidden');
      } else {
        $("#CheckoutButton").addClass('hidden');
      }
    }

    $(document).ready(function(){
      less.watch();
      updateItemCountAndSubtotal();
      $("#MyAccountModal").center();
    });
  </script>
  <%= yield :head %>
</head>
<body>

<%= render :partial => '/shared/navigation' %>
<div id="CurrentCartWrapper" class="hidden">
  <div id="CartItemList">
    <%= render :partial => '/carts/cart_item_list' %>
  </div>
  <div id="CheckoutButtonWrapper">
    <a id="CheckoutButton"  class="hidden" href="/checkout">Proceed to Checkout</a>
  </div>
  <div id="CartItemSubTotalWrapper">
    <div class="cart_label">Subtotal: </div>
    <div id="CartItemSubTotal"><%= number_to_currency(@cart.subtotal) %></div>
  </div>
</div>


<div id="ContentContainer">
  <%= yield %>
</div>

<div id="AeonModalBlocker" class="hidden"></div>

</body>
</html>
